{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static',filename='img/home-bg.jpg') }})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3>welcome to dashboard</h3>
            <span class="subheading">admin panel</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <td><a href="/dashboard"><button class="btn btn-primary">dashboard home</button></a></td>
          <td><a href="/logout"><button class="btn btn-primary">logout</button></a></td><hr>
          <p><h2>upload a file</h2></p>




<h5>add/edit post</h5>
       <form name="sentMessage" id="edit_form" action="/edit/{{sno}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>title</label>
              <input type="text" class="form-control" placeholder="title" id="title" name="title" required data-validation-required-message="Please enter your title." value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>tagline</label>
              <input type="textl" class="form-control" placeholder="tagline" id="tagline" name="tagline" required data-validation-required-message="Please enter your tagline."value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>slug</label>
              <input type="text" class="form-control" placeholder="slug" id="slug" name="slug" required data-validation-required-message="Please enter your phone slug."value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>content</label>
              <textarea rows="5" class="form-control" placeholder="content" id="content" name="content" required data-validation-required-message="Please enter a content." >{{post.content}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>

                 <h1>Upload new File</h1>
                <form method=post  action="\upload_file" enctype=multipart/form-data>
                <input type=file name='img_file'>




          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary"  value=Upload id="sendMessageButton">submit</button>
        </form>
           </form>
      </div>
    </div>
  </div>

{% endblock %}